<%= form_with(model: @garbage, local: true) do |f| %>
    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    予定名
    <div>
<%= f.text_area :name, placeholder: "必須入力"%>
</div>

予定日を入力してください
<div>
    </div>
    <div class='input-birth-wrap'> 
      <%= raw sprintf(
                  f.date_select(
                    :day,
                    class:'select-day',
                    id:"birth-date",#DB保存
                    use_month_numbers: true,
                    prompt:"--",
                    start_year: (Time.now.year),
                    end_year: (Time.now.year + 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
</div>
曜日を入力してください
<div>
 <%= f.select :dow, [["月曜", "月曜"], ["火曜", "火曜"], ["水曜", "水曜"], ["木曜", "木曜"],["金曜", "金曜"], ["土曜", "土曜"], ["日曜", "日曜"]], include_blank: "--" %>
 </div>
ゴミの種類を入力してください
<div>
 <%= f.select :category, [["可燃ごみ", "可燃ごみ"], ["不燃ごみ", "不燃ごみ"], ["缶", "缶"], ["ペットボトル", "ペットボトル"]], include_blank: "--" %>
</div>
その他
<div>
<%= f.text_area :other, placeholder: "その他入力"%>
</div>
<div>
<%= f.submit "編集を実行" %>
</div>       
<% end %>