<h1>indexページ</h1>
<% if user_signed_in? %>
  ようこそ、<%= current_user.nick_name + "さん" %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<div>
<%= link_to "スケジュール登録", new_garbage_path %>
</div>
<% else %>
<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "ログイン", new_user_session_path %>
<% end %>
