
<h1>新規登録ページ</h1>
<%= form_with(model: @garbage, local: true) do |f| %>
    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
     <%= render 'layouts/error_messages', model: f.object %>
    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
<div id="y">    
<p>予定日を入力してください</p>
</div>
    <div class='input-day-wrap'> 
      <%= raw sprintf(f.date_select(:day,use_month_numbers: true,prompt:"--",start_year: (Time.now.year),end_year: (Time.now.year + 5),date_separator: '%s'),"<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
<div id="y">    
<p>曜日を入力してください</p>
</div>
<div class="s">
 <%= f.select :dow, [["日曜", 0],["月曜", 1], ["火曜", 2], ["水曜", 3], ["木曜", 4],["金曜", 5], ["土曜", 6]], include_blank: "必須入力" %>
 </div>
 <div id="y">    
<p>ゴミの種類を入力してください</p>
</div>
<div class="s">
 <%= f.select :category, [["可燃ごみ", "可燃ごみ"], ["不燃ごみ", "不燃ごみ"], ["缶・ビン", "缶・ビン"], ["ペットボトル・繊維類", "ペットボトル・繊維類"], ["金属・紙類", "金属・紙類"],["プラスチック", "プラスチック"],["その他", "その他"]], include_blank: "--" %>
</div>
<div id="y">    
<p>タイトル</p>
</div>
<div class="s">
<%= f.text_area :title, placeholder: "必須入力"%>
</div>
<div id="y">    
<p>その他</p>
</div>
<div class="s">
<%= f.text_area :other, placeholder: "その他入力"%>
<%#</div>
#期間の開始日
<%= f.datetime_select :start_at, :use_month_numbers => true %>
<%#<div>
期間の終了日
<%= f.datetime_select :end_at, :use_month_numbers => true %>
<div class="s">
<%= f.submit "登録する" %>
</div>       
<div class="s">
<%= link_to "Topページへ",root_path %>
</div>
<% end %>